.paymentpage1{
    gap: 130px;
    display: flex;
}
.paymentMethodHotel{
    margin-top: 50px;
    border: 2px solid gray;
    width: 56%;
    padding: 15px 0px 40px 20px;
    border-radius: 10px;
    margin-left: -5px;
    position: relative;
}
.hotelset1{
    width: 56%;
    border: 2px solid gray;
    padding: 15px 0px 20px 20px;
    border-radius: 10px;
    margin-left: -5px;
    position: relative;
}
.emailZone1{
    position: absolute;
    /* top: 5px; */
    /* bottom: 5px; */
    margin-top: -30px;
    color: red;
    font-size: 14px;
    /* bottom: -10px; */
}
.numberZone2{
    position: absolute;
    margin-top: -30px;
    /* top: -30px; */
    color: red;
    font-size: 14px;
}
.cardData1{
  margin-top: 15px;
}
.cvczone{
    font-size: 24px;
}
.cardZone{
    margin-top: -45px;
    /* margin-left: -10px; */
    color: red;
    font-size: 14px;
    position: absolute;
}
.nameZone{
    position: absolute;
    margin-top: -30px;
    /* margin-left: -10px; */
    color: red;
    font-size: 14px;
}
.cvcZone{
    position: relative;
    color: red;
    font-size: 14px;
    margin-top: 250px;
}
#cvcinput{
    position: absolute;
}
.expZone{
    margin-right: 110px;
    position: relative;
    color: red;
    font-size: 14px;
}