.paymentpage1{
    gap: 130px;
    display: flex;
}
.paymentMethodHotel{
    margin-top: 50px;
    border: 2px solid gray;
    width: 56%;
    padding: 15px 0px 40px 20px;
    border-radius: 10px;
    margin-left: -5px;
    position: relative;
}
.hotelset1{
    width: 56%;
    border: 2px solid gray;
    padding: 15px 0px 20px 20px;
    border-radius: 10px;
    margin-left: -5px;
    position: relative;
}
.emailZone1{
    position: absolute;
    /* top: 5px; */
    /* bottom: 5px; */
    margin-top: -20px;
    color: black;
    font-size: 14px;
    /* bottom: -10px; */
}
.numberZone2{
    position: absolute;
    margin-top: -20px;
    /* top: -30px; */
    color: black;
    font-size: 14px;
}
.cardData1{
  margin-top: 15px;
}
.cvczone{
    font-size: 24px;
}
.cardZone{
    margin-top: -45px;
    /* margin-left: -10px; */
    color: red;
    font-size: 14px;
    position: absolute;
}
.nameZone{
    position: absolute;
    margin-top: -20px;
    /* margin-left: -10px; */
    color: black;
    font-size: 14px;
}
.cvcZone{
    position: relative;
    color: red;
    font-size: 14px;
    margin-top: 250px;
}
#cvcinput{
    position: absolute;
}
.expZone{
    margin-right: 110px;
    position: relative;
    color: red;
    font-size: 14px;
}
#expdata1{
  /* margin-left: -250px; */
  /* margin-top: 100px; */
  margin-top: 2px;
  margin-bottom: 5px;
}
.labelexp{
  margin-top: -100px;
}
.circlefornum{
  color: white;
  background-color: #0071c2;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.line{
  border-bottom: 2px solid rgb(126, 123, 123);
  width: 27%;
  margin-bottom: 10px;
  margin-right: 10px;
}
.paymentline{
  border: 1px solid rgb(196, 195, 195);
  margin: 50px 200px 50px 190px;
  padding: 20px 0 30px 0;
  border-radius: 8px;
  /* width: 80%; */
}
.circlefornum1{
  color: black;
  /* background-color: gray; */
  border: 1px solid gray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.inputdataofname{
  width: 25rem;
  font-size: 15px;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 3px;
  padding-left: 15px;
  border: 1px solid rgb(177, 47, 47);
}
.labelforname{
  color: rgb(203, 19, 19);
  font-weight: 500;
}
.maincontent{
  padding: 20px 0 20px 200px;
  margin-right: 200px;
}
.content2,.content3{
  margin-bottom: 20px;
  /* margin-right:; */
  border: 1px solid rgb(196, 195, 195);
  border-radius: 10px;
  width: 100%;
  /* margin-left: 100px; */
  padding: 30px 300px 30px 40px;

}
.step2{
  background-color: #0071c2;
  padding: 12px 15px ;
  border-radius: 7px;
  font-size: 18px;
  margin-top: 50px;
  border:  none;
  color: white;

}
.lastpagecon{
  margin: 50px 180px 50px 190px;
  display: flex;
}
.lastpagecon2{
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  padding: 40px 0 40px 30px;
  margin-right: 20px;
  margin-bottom: 100px;
}
.dataname{
  width: 24rem;
  margin-bottom: 22px;
  height: 40px;
  padding-left: 15px;
  font-size: 15px;
}
.paynowbutton{
  position: relative;
  left: 580px;
  padding: 12px 15px;
  background-color: #0071c2;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  top: 100px;
}
.errorname{
  position: relative;
  top: -17px;
  color: red;
}


@media screen and (min-device-width: 992px) and (max-device-width: 1300px){
   /* .inputdata{
    width: 500px;
   } */
   #cardhold{
    width: 300px;
   }
   .hotelset1{
    /* width: 550px;
     */
     margin-right: 10px;
     padding-right: 20px;
   }
  }
  
  @media screen and (min-device-width: 768px) and (max-device-width: 991px){
  .paymentpage1{
    display: block;

  }
  .hotelset1{
    margin-bottom: 50px;
    width: 95%;
  }
  .paymentMethodHotel{
    width: 98%;
  }
  .inputdata{
    width: 100px;
   }
   .expinput{
    width: 50px;
   }
  }
  /* @media screen and (min-device-width: 768px) and (max-device-width: 991px){ */
    @media screen and (min-device-width: 600px)and (max-device-width: 767px) {
  
        .paymentpage1{
            display: block;
          }
          .hotelset1{
            margin-left: -50px;
            margin-bottom: 50px;
            width: 340px;
          }
          .paymentMethodHotel{
            /* width: 98%; */
            width: 350px;
            margin-left: -50px;
          }
          .inputdata{
            width: 100px;
           }
           .expinput{
            width: 50px;
           }
           #cardhold{
            width: 300px;
           }
           .numclass{
            margin: 3px;
           }
           #expdata1{
            margin-left: 4px;
            margin-bottom: 5px;
           }
           #cvcdata{
            margin-top: 15px;
            margin-left: 4px;
           }
           #btnpay{
            position:  absolute;
            left: -200px;
           }
          
  }
  @media screen and (min-device-width: 480px)and (max-device-width: 599px) {

    .paymentpage1{
      display: block;
    }
    .hotelset1{
      margin-left: -100px;
      margin-bottom: 50px;
      width: 350px;
    }
    .paymentMethodHotel{
      /* width: 98%; */
      width: 350px;
      margin-left: -100px;
    }
    .numclass{
      margin-top: 10px;
      margin-left: 2px;
      margin-bottom: 5px;
    }
    .emailclass{
      /* margin-bottom: px; */
      /* height: 10px; */
      margin-left: 2px;
      /* width: 150px; */
    }
    .hotelset2{
      margin-left: -90px;
    }
    #cardhold{
      width: 300px;
      margin-top: 5px;
    }
    #expdata1{
      margin-left: 4px;
      margin-bottom: 10px;
      /* margin-top: -10px; */
     }
     .expZone{
      /* margin-top: 5px; */
      position: relative;
      top:-10px;
     }
     #cvcdata{
      /* margin-top: 8px; */
      margin-left: 4px;
     }
     #btnpay{
      position:  absolute;
      left: -200px;
     }
     .emailclass{
      width: 50px;
     }
  }

  @media screen and (min-device-width: 380px)and (max-device-width: 479px) {

    .paymentpage1{
      display: block;
    }
    .hotelset1{
      margin-left: -170px;
      margin-bottom: 50px;
      width: 350px;
    }
    .paymentMethodHotel{
      /* width: 98%; */
      width: 350px;
      margin-left: -170px;
    }
    .numclass{
      margin-top: 10px;
      margin-left: 2px;
      margin-bottom: 5px;
    }
    .emailclass{
      /* margin-bottom: px; */
      /* height: 10px; */
      width: 50px;
      margin-left: 2px;
      margin-top: 5px;
      /* width: 150px; */
    }
    .hotelset2{
      margin-left: -120px;
    }
    #cardhold{
      width: 300px;
      margin-top: 5px;
    }
    #expdata1{
      margin-left: 4px;
      margin-bottom: 10px;
      /* margin-top: -10px; */
     }
     .expZone{
      /* margin-top: 5px; */
      position: relative;
      top:-10px;
     }
     #cvcdata{
      /* margin-top: 8px; */
      margin-left: 4px;
     }
     #btnpay{
      position:  absolute;
      left: -300px;
     }
     .emailclass{
      width: 50px;
     }
     #expdata1{
      margin-bottom: 10px;
     }
     .expZone{
      margin-top: 25px;
     }
     /* .labeldata{
      margin-bottom: 15px;
     } */
     .logo{
      margin-left: -80px;
     }
     .profile{
      margin-right: 15px;
     }
  }