.confirmation-main{
    /* margin-left: 190px;
    margin-right: 190px; */
    margin: 40px 190px 0px 220px;
}
.set1{
    border: 2px solid gray;
    border-radius: 10px;
    /* padding-left: 30px; */
    padding: 20px 0px 20px 25px;
    width: 700px;
}
.mainSet1{
    display: flex;
   
}
.set2{
    display: block;
}
.setBox1{
    margin-left:200px ;
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.mainSet2{
    width: 50%;
    padding: 10px;
    margin-top: 50px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 0px 20px 25px;
    margin-bottom: 30px;
}
.backBtnbtn{
    height:45px;
    width:130px;
    background-color:#006ce4;
    color:white;
    border: none;
    cursor: pointer;
    /* margin-right: 10px; */
    border-radius: 10px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 515px;
}
.buttons{
    display: flex;
    justify-content: end;
    
}

.data{
    display: flex;
}
@media screen and (min-device-width: 992px) and (max-device-width: 1300px){
 .set2{
    margin-right: 50px;
    margin-left: -100px;
 }
 .data{
    display: block;
}
.namee{
    margin-top: 5px;
    padding-left: 70px;
}
.mainSet1{
    width: 800px;
    margin-left: -80px;
}
.mainSet2{
    width: 370px;
    margin-left: -80px;
}
  }
  
  @media screen and (min-device-width: 768px) and (max-device-width: 991px){
    .set2{
        margin-right: 30px;
        margin-left: -180px;
     }
     .data{
        display: block;
    }
    .namee{
        margin-top: 5px;
        padding-left: 70px;
    }
    .mainSet1{
        width: 700px;
        margin-left: -130px;
    }
    .mainSet2{
        width: 370px;
        margin-left: -130px;
    }
    .buttons{
        margin-left: 700px;
    }
    .backBtnbtn{
        padding-left: 15px;
        padding-right: 15px;
    }
  }
    @media screen and (min-device-width: 600px)and (max-device-width: 767px) {
        .set2{
            margin-right: 30px;
            margin-left: -180px;
         }
         .data{
            display: block;
        }
        .set1{
            width: 370px;
         }
        .namee{
            margin-top: 5px;
            padding-left: 70px;
        }
        .mainSet1{
            width: 640px;
            margin-left: -190px;
        }
        .mainSet2{
            width: 370px;
            margin-left: -190px;
        }
        .buttons{
            margin-left: 700px;
        }
        .backBtnbtn{
            padding-left: 15px;
            padding-right: 15px;
        }
        .setBox1{
            width: 180px;
        }
        .setTicket{
            margin-right: -50px;
        }
        .taxx{
            width: 180px;
        }
  }
    @media screen and (min-device-width: 480px)and (max-device-width: 599px) {
        .mainSet1{
            display: block;
        }
        .set2{
            margin-top: 30px;
            margin-right: 30px;
            margin-left: -160px;
         }
         .set1{
            width: 400px;
         }
         .data{
            display: block;
        }
        .namee{
            margin-top: 5px;
            padding-left: 70px;
        }
        .mainSet1{
            /* width: 700px; */
            margin-left: -150px;
        }
        .mainSet2{
            width: 400px;
            margin-left: -150px;
        }
        .buttons{
            margin-left: 700px;
        }
        .backBtnbtn{
            padding-left: 15px;
            padding-right: 15px;
        }
       
  
  }
  @media screen and (min-device-width: 360px)and (max-device-width: 479px) {
    .mainSet1{
        display: block;
    }
    .set1{
        width: 370px;
     }
    #logo{
        margin-left: -80px;
    }
    #profile{
        margin-right: 20px;
    }
    .set2{
        margin-top: 30px;
        margin-right: 30px;
        margin-left: -180px;
     }
     .data{
        display: block;
    }
    .namee{
        margin-top: 5px;
        padding-left: 70px;
    }
    .mainSet1{
        width: 620px;
        margin-left: -220px;
    }
    .mainSet2{
        width: 370px;
        margin-left: -220px;
    }
    .buttons{
        margin-left: 500px;
    }
    .backBtnbtn{
        padding-left: 15px;
        padding-right: 15px;
    }
   

}