.filter-card{
    display: flex;
   
    /* justify-content: space-; */
    margin: 40px 190px 50px 190px;
}
.flightflight{
    border: 1px solid gray;
    margin: 30px 50px 0px -15px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.flight-filter{
    width: 35%;
}

.flight-card{
    height: 190px;
    width: 800px;
    
}
.FlightBox{
    height: 190px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.flightBox1{
    width: 60%;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid gray;
   
    height: 190px;
}
.duration{
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.direct{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.flightBox2{
    padding-top: 15px;
    margin-right: 10px;
}
.luggage-logo{
    display: flex;
    justify-content: end;
    gap: 8px;
    color: rgb(24, 24, 24);
    font-size: 16px;
}
.flightcard1{
    display: flex;
    justify-content: end;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 25px;
    color: rgb(24, 24, 24);
}
.flight-price{
   font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: end;
}
.flightpara{
    display: flex;
    justify-content: end;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.flightView{
    height: 36px;
    width: 220px;
    border-radius: 10px;
    color: #006ce4;
    border: 1px solid #006ce4;
}
.flight-Time{
    font-size: 16px;
    font-weight: 600;
}
.date-Time{
    font-size: 14px;
}
.flightcard{
    margin-bottom: 200px;
    height: auto;
}
#searchsearch{
  margin-right: -75px;
}
.infoPopBox1{
     background-color: rgba(0, 0, 0, 0.2);
}
.infoPopBox2{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 5px solid yellow;
}
.flightStops{
    margin-top: 30px;
}
.flight-filter{
    margin-left: -45px;
}
.filterName{
    font-size: 18px;
    margin-bottom: 8px;
}
.radioBtn{
    height: 16px;
    width: 16px;
}

@media screen and (min-device-width: 992px) and (max-device-width: 1300px){
  .flightflight{
    margin-left: -125px;
    width: 200px;
  }

  .flight-card{
    width: 610px;
    margin-left: -10px;
  }
  #head12{
    margin-left: 30px;
    margin-right: -10px;
  }
      }
      
      @media screen and (min-device-width: 768px) and (max-device-width: 991px){
        .flightflight,.filterhead{
            display: none;
          }
          .flight-card{
            width: 610px;
            margin-left: -10px;
          }
          #head12{
            margin-left: 5px;
    
          }

          
          .flightcard-1{
            width: 680px;
            margin-left: -120px;
            padding-left: 50px;
          }
        
          #btnbutton{
            margin-left: 40px;
          }
      }
      
        @media screen and (min-device-width: 600px)and (max-device-width: 767px) {
            .flightflight,.filterhead{
                display: none;
              }
            
              #head12{
                /* width: 150px; */
                margin-left: 5px;
        
              }
              .flightcard-1{
                width: 590px;
                margin-left: -140px;
                padding-left: 50px;
              }
             
          
      
      }
      @media screen and (min-device-width: 480px)and (max-device-width: 599px) {
        .flightflight,.filterhead{
            display: none;
          }
        .headerSearchItem{
          margin-right: -20px;
        }
          #head12{
            margin-left: 5px;
          }
          .sort{
            margin-left: 100px;
          }
          #searchitem{
            width: 150px;
          }
          .flightcard-1{
            width: 500px;
            margin-left: -160px;
            padding-left: 50px;
            
          }
          .hrtag{
            width: 70px;
            margin-right: -50px;
            display: none;
          }
          #flight-Time,#date-Time{
            margin-left: -50px;
          }
    .luggage-logo,.flightcard1,.flight-price,.lightpara{
        margin-right: 8px;
    }
    .flightView{
        width: 100px;
        margin-left: 70px;
        height: 25px;
    }
    .duration,.direct{
        margin-left: -60px;
    }
      }

      @media screen and (min-device-width: 380px)and (max-device-width: 479px) {
        .flightflight,.filterhead{
            display: none;
          }
        .headerSearchItem{
          margin-right: -20px;
        }
          #head12{
            margin-left: 5px;
          }
          .sort{
            margin-left: -100px;
          }
          #searchitem{
            width: 150px;
          }
          .flightcard-1{
            width: 445px;
            margin-left: -195px;
            padding-left: 50px;
            
          }
          .hrtag{
            width: 70px;
            margin-right: -50px;
            display: none;
          }
          #flight-Time,#date-Time{
            margin-left: -50px;
          }
    .luggage-logo,.flightcard1,.flight-price,.lightpara{
        margin-right: 8px;
    }
    .flightView{
        width: 100px;
        margin-left: 70px;
        height: 25px;
    }
    .duration,.direct{
        margin-left: -60px;
    }
    .flightArrivalTime{
      display: block;
    }
      }
      
      