.flightinfo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-page{
    position: relative;
    padding: 32px;
    width: 50%;
    background-color: #fff;
}
.close-btn{
    position: absolute;
    top: 50px;
    right: 50px;
    height: 20px;
    border: 1px solid transparent;
    width: 20px;
}