.confirmation-main{
    /* margin-left: 190px;
    margin-right: 190px; */
    margin: 50px 190px 0px 190px;
}
.set1{
    border: 1px solid gray;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
}
.mainSet1{
    display: flex;
}
.set2{
    
}
.setBox1{
    margin-left:100px ;
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.mainSet2{
    width: 60%;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 10px;
}
.backBtn{
    height:45px;
    width:130px;
    background-color:#006ce4;
    color:white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.buttons{
    display: flex;
    justify-content: end;
    
}