.mainSearch {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 62%;
}
.searchbox1 {
  width: 35%;
}
.sort {
  padding: 4px 7px 4px 15px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  z-index: 1;
}
.sort:hover {
  width: 130px;
}
.sortlogo {
  margin-right: -10px;
  z-index: 10;
}
.searchCard {
  margin-left: 20px;
  height: 230px;
  width: 770px;
  border: 2px solid rgb(211, 207, 207);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card-1 {
  margin: 10px;
  width: 25%;
}
.hotelimg {
  height: 175px;
  width: 175px;
  border-radius: 10px;
}
.card-2,
.card-3 {
  margin-top: 15px;
}
.card-2 {
  width: 300px;
  margin-left: 10px;
}
.card-3 {
  margin-right: 7px;
  display: block;
  justify-content: end;
  text-align: end;
}
.hotelName {
  font-size: 22px;
  color: #006ce4;
  font-weight: 700;
  margin-bottom: 5px;
}
.locationName {
  font-size: 14px;
  color: #006ce4;
  font-weight: 700;
}
.box-A {
  display: flex;
  /* gap: 5px; */
  font-size: 16px;
  font-weight: 700;
  margin-left: 170px;
}
.rating {
  margin-left: 10px;
  height: 34px;
  width: 34px;
  background-color: #006ce4;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box-B {
  margin-top: 35px;
  font-size: 12px;
  color: rgb(80, 75, 75);
}
.box-D {
  font-size: 12px;
}
.box-C {
  font-size: 22px;
  margin-top: 10px;
}
.box-E {
  height: 35px;
  width: 150px;
  background-color: #006ce4;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.box1 {
  font-size: 20px;
  color: black;
  margin-top: 30px;
  line-height: 22px;
}
.card-box1 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding-top: -10px;
  margin-left: 10px;
}

.card-box2 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.card-box3 {
  color: black;
  font-size: 13px;
  margin-left: 10px;
}
.searchbox1 {
  border: 1px solid rgb(217, 208, 208);
  width: 300px;
  margin-left: -10px;

  border-radius: 10px;
}
.searchbarbox-1 {
  padding-top: 10px;
}
.property-type,
.property-rating,
.budget {
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
  font-weight: 600;
}
.mainfilter {
  display: block;
  margin-left: 200px;
  margin-top: -15px;
  /* width: 800px; */
}
.searchbox2 {
  margin-left: 60px;
}
.inputHotel,
.inputRating {
  height: 20px;
  margin: 8px 8px 0px 0px;

  width: 20px;
}
.property,
.property-rate,
.searchbarbox-1 {
  margin-left: 15px;
}
.ratingType,
.hotelType {
  font-size: 14px;
  padding: 15px 16px 8px 5px;
}
.slider {
  height: 5px;
  width: 80%;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
  margin-top: 20px;
}
.progress {
  z-index: 2;
  height: 5px;
  background-color: #008de4;
  border-radius: 5px;
  position: absolute;
  left: 25%;
  right: 25%;
}
.input-range {
  position: relative;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-range input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 85%;
  background: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  pointer-events: auto;
  background-color: #006ce4;
  -webkit-appearance: none;
  z-index: 1;
  border-radius: 50%;
}

.head1 {
  position: relative;
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  margin-right: -135px;
  gap: 2px;
}
.filter-1 {
  display: flex;
}
.input-min,
.input-max {
  border: none;
  outline: none;
}
.searchbox1 {
  margin-left: -15px;
}

.headerSearchItemA{
  display: flex;
  border-right: 4px solid rgb(230, 165, 15);
  align-items: center;
  justify-content: start;
  padding-right: 70px;
  gap: 10px;
  background-color: #fff;
  position: relative;
  
}

@media screen and (min-device-width: 992px) and (max-device-width: 1300px) {
  .mainfilter {
    display: none;
  }
  .searchbox2 {
    margin-left: 90px;
  }
  #idDate1 {
    /* margin-left: 80px; */
    padding-left: 10px;
    width: 350px;
  }
  #self {
    width: 250px;
  }
  #idDate2 {
    width: 300px;
  }
  .sort {
    margin-left: 15px;
  }
  .sortlogo {
    display: none;
  }
  .searchOptions {
    margin-left: 15px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .mainfilter {
    display: none;
  }
  .searchbox2 {
    margin-left: -32px;
    width: 100%;
  }
  #idDate1 {
    /* margin-left: 80px; */
    padding-left: 10px;
    width: 220px;
    /* font-size: 12px; */
  }
  #self {
    width: 250px;
  }
  #idDate2 {
    width: 300px;
  }
  .sort {
    margin-left: 15px;
  }
  .sortlogo {
    display: none;
  }
  .searchOptions {
    margin-left: 15px;
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 767px) {
  .mainfilter {
    display: none;
  }
  .headerSearch{
    width: 85%;
  }
  .id12{
    margin-left: -10px;
    padding-left: -15px;
    margin-right: -10px;
  }
  .headerSearchItemAb{
    margin-right: -50px;
    /* margin-left: -5px; */
    padding-left: -15px;
  }
  .searchCard {
    width: 160%;
    margin-left: -50px;
  }
  .hotelimg {
    height: 150px;
    width: 150px;
  }
  .card-box3 {
    display: none;
  }
  .searchbox2 {
    width: 100%;
  }
  #idDate1 {
    margin-left: -20px;
    padding-left: 3px;
    width: 165px;
    border-left: 4px solid rgb(230, 165, 15);
    font-size: 13px;
    /* margin-right: -10px; */
  }
  #id12 {
    margin-left: -5px;
    margin-right: 20px;
  }
  #self {
    width: 100px;
    margin-left: -40px;
  }
  #idDate2 {
    width: 300px;
  }
  #idPeople1{
    /* margin-left: 5px; */
    /* padding-left: -20px; */
    margin-left: 10px;
    font-size: 13px;
    /* width: 50px; */
  }
  .sort {
    margin-left: -55px;
  }
  .sortlogo {
    display: none;
  }
  .searchOptions {
    margin-left: 15px;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 599px) {
  .mainfilter {
    display: none;
  }
  #id12{
    width: 100px;
    padding-left: -10px;
  }
  #idDate1{
    margin-left: -5px;
    padding-left: -10px;
  }
  #textdate{
    width: 200px;
padding-left: -20px;
padding-right: 50px;
  }
  #idPeople1{
    margin-left: -30px;
    padding-left: 50px;
  }
.headerSearchItemA{
  /* margin-left: -10px; */
  padding-left: -30px;
  padding-right: 10px;
}
  .searchCard {
    width: 70%;
    margin-left: -30px;
  }
  .hotelimg {
    height: 120px;
    width: 120px;
  }
  .hotelName {
    width: 150px;
  }
  .card-1 {
    width: 140px;
    margin-left: 30px;
  }
  .card-box3 {
    display: none;
  }
  .hotelName {
    font-size: 14px;
  }
  .card-3 {
    margin-right: 50px;
    margin-left: -150px;
  }
  .box-E {
    font-size: 13px;
    width: 120px;
  }
  #id1 {
    position: relative;
    left: -40px;
    margin-right: -20px;
  }
  .searchbox2 {
    margin-left: 35px;
  }
  #idDate1 {
    /* margin-left: -10px; */
    padding-left: -20px;
    padding-right: 10px;
    width: 175px;
    font-size: 12px;
    /* border-left: 4px solid rgb(230, 165, 15); */
    /* border-right: 4px solid rgb(230, 165, 15); */
  }
  #id12 {
    margin-left: -50px;
    padding-left: -50px;
    margin-right: 20px;
  }
  #self {
    width: 100px;
    margin-left: -40px;
  }
  #idDate2 {
    width: 300px;
  }
  .sort {
    margin-left: -33px;
  }
  .sortlogo {
    display: none;
  }
  .searchOptions {
    margin-left: 15px;
  }
  .headerSearchItemA{
    padding-left: -20px;
    /* margin-left: -10px; */
  }
}

@media screen and (min-device-width: 380px) and (max-device-width: 479px) {
  .mainfilter {
    display: none;
  }
.headerSearch{
  display: none;
}
  #idDate1{
    margin-left: -5px;
    padding-left: -10px;
    width: 170px;
    margin-right: 70px;
    font-size: 11px;
  }
  #textdate{
    width: 140px;
/* padding-left: -50px; */
padding-right: 50px;
font-size: 10px;
border-left: 4px solid rgb(230, 165, 15);
  }
  #idPeople1{
    padding-left: 50px;
  }
.headerSearchItemA{
  padding-left: -30px;
  padding-right: 10px;
}
  .searchCard {
    width: 70%;
    margin-left: -30px;
  }
  .hotelimg {
    height: 120px;
    width: 120px;
  }
  .hotelName {
    width: 150px;
  }
#id12{
  border-right: 4px solid rgb(230, 165, 15);
  width: 150px;
}

  #idPeople1{
    padding-left: -100px;
    margin-left: -100px;
  }
  .searchCard {
    display: block;
    width: 130%;
    height: 230px;
    margin-left: -35px;
  }
  .hotelimg {
    width: 150px;
    height: 150px;
  }
  .card-3 {
    margin-top: -180px;
  }
  .box-A {
    display: none;
  }
  .box1 {
    display: none;
  }
  .hotelimg {
    height: 120px;
    width: 120px;
  }
  .hotelName {
    width: 150px;
  }
  .card-1 {
    width: 140px;
    margin-left: 30px;
  }
  .card-box3 {
    display: none;
  }
  .hotelName {
    font-size: 14px;
  }
  .card-3 {
    margin-right: 50px;
    margin-left: -150px;
  }
  .box-E {
    font-size: 13px;
    width: 120px;
  }
  #id1 {
    position: relative;
    left: -40px;
    margin-right: -20px;
  }
  .searchbox2 {
    margin-left: 35px;
  }
 
  #id12 {
    /* margin-left: -50px; */
    /* margin-right: 20px; */
    width: 80px;
    border-right: 4px solid rgb(230, 165, 15);
  }
  #self {
    width: 100px;
    margin-left: 0px;
    margin-bottom: -200px;
  }
  #idDate2 {
    width: 300px;
  }
  .sort {
    margin-left: -40px;
    
  }
  .sortlogo {
    display: none;
  }
  .sortoption{
    margin-top: -50px;
    margin-top: -120px;
  }
  .searchOptions {
    margin-left: 15px;
  }
  #idDate1{
    font-size: 12px;
  }
}
