/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-1{
  height: 120px;
  background-color: #003B95;
  color: #fff;
}
.nav{
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 15px;
}
.logo{
  width: 75%;
  font-size: 22px;
  font-weight: bold;
}
.nav-btn{
  font-size: 20px;
  /* margin-right: 10px; */
  margin-right: 40px;
}
.register, .sign-in{
  height: 30px;
  width: 70px;
  /* margin: 0 20px; */
  border-radius: 5px;
  color: #003B95;
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin-right: 10px;
}
/* .register:hover ,.sign-in:hover{

} */
.stays-flights{
  color: #fff;
  background-color: #003B95;
  padding-left: 20px;
  font-size: 14px;
  padding-top: 10px;
 
}
.stays{
  height: 40px;
  width: 90px;
  color: #fff;
  background-color: #5573a3;
  border-radius: 20px;
  margin-right: 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
/* .stays:hover{
  height: 40px;
  width: 90px;
  background-color: #86a7dc;
  border-radius: 20px;
} */
.flights{
  height: 40px;
  width: 90px;
  color: #fff;
  background-color: #003B95;
  border: none;
}
.flights:hover{
  height: 40px;
  width: 90px;
  background-color: #5573a3;
  border-radius: 20px;
}
.box-2{
  height: 240px;
  width: 100%;
  display: inline-block;
  align-items: center;
  padding-top: 50px;
  background-color: #003B95;
  color: #fff;
  padding-left: 20px;
}
.heading{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.para{
  font-size: 24px;
  font-weight: 400;
}
.stays-i , .flights-i {
  font-size: 17px;
  margin-right: 5px;
}
