.head1{
    position: relative;
    display: flex;
    justify-content: center;
}

.headerSearchItem{
    display: flex;
    border-right: 4px solid rgb(230, 165, 15);
    align-items: center;
    justify-content: start;
    padding-right: 70px;;
    gap: 10px;
    background-color: #fff;
    position: relative;
    
}
.headerSearchItem12{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 70px;;
    gap: 10px;
    background-color: #fff;
    position: relative;
    
}

.selectedDate{
    position: absolute;
    top: 35px;
    left: -40px;
    z-index: 1;
    background-color: #fff;
}

.options{
    background-color: #fff;
    color: rgb(90, 88, 88);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    position: absolute;
    top: 40px;
    z-index: 1000;
    border-radius: 6px;
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    gap: 10px;
    color: black;
    border: 1px solid grey;
    padding: 3px 7px;
    border-radius: 4px;
    width: 40%;
}
.optionbtn{
    border: none;
    outline: none;
    color: #0071c2;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}
.optionbtn:disabled{
    cursor: not-allowed;
}
.donebtn{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    color: #0071c2;
    border: 1px solid #0071c2;
    z-index: 1000000;
   
}
.headerBtn{
    height: 43px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: #003B95;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 5px;
   
}
.searchbtn{
    display: flex;
    justify-content: end;
}
.locationData{
    height: 40px;
    padding-left: 5px;
    
}
.locationData-1{
    overflow-y: auto;
    overflow-x: hidden;
}
.donebtnforDate{
    position: absolute;
    top: 370px;
    z-index: 1000;
    width:114%;
    height: 30px;
    border-radius: 3px;
    color: #0071c2;
    left: -40px;
    border: 1px solid #0071c2;
}

/*  */
.namecity{
    color: white;
    position: absolute;
    
    margin-left: 15px;
    
}


.headerSearch{
display: flex;
justify-content: space-between;
position: absolute;
bottom:-25px;
height: 50px;
width: 76%;
border: 4px solid rgb(230, 165, 15);
border-radius: 6px;
z-index: 10000;
}
.searching{
    display: flex;
    justify-content: space-evenly;
    width: 92%;
    background: white;
}
.headerSearchItem12{
    display: flex;
    justify-content: center;
    padding-left: -50px;
    text-align: center;
   
}






.HeaderSearchInput{
    height: 43px;
    border: none;
    outline: none;
    font-size: 17px;
}



@media screen and (min-device-width: 991px) and (max-device-width: 1200px){
    .navItems{
     display: flex;
 
    } 
    .headerList{
     margin-left: 20px;
    }
    .imagebox1{
        display: flex;
        flex-wrap: wrap;
     }
     .imagebox2{
         display: flex;
         flex-wrap: wrap;
      }
    .trendingdest{
        margin-left: -70px;
    }
    #idsearch{
        padding-left: 10px;
        width: 240px;
        border-right: 4px solid rgb(230, 165, 15);
        padding-right: 20px;
    }
    #idDate{
        padding-right: 20px;
        padding-left: 10px;
        border-left: 4px solid rgb(230, 165, 15);
    }
    #idPeople{
        width: 240px;
        padding-right: 20px;
        padding-left: 10px; 
    }
    
 }

 @media screen and (min-device-width: 768px) and (max-device-width: 991px){
    .headerSearchItem{
        width: 33%;
    }
    .head1{
        margin-left: -40px;
        margin-right: -40px;
    }
    .trendingdest{
        margin-left: -150px;
    }
    .imagebox1{
       display: flex;
       flex-wrap: wrap;
    }
    .imagebox2{
        display: flex;
        flex-wrap: wrap;
     }
     .imgimage3{
        margin-left: -15px;
     }
     .trendingdest{
        margin-left: -70px;
    }
    .headerSearch{
        width: 88%;
    }
    #idsearch{
        padding-left: 10px;
        width: 240px;
        border-right: 4px solid rgb(230, 165, 15);
        padding-right: 20px;
    }
    #idDate{
        padding-right: 20px;
        padding-left: 10px;
        border-left: 4px solid rgb(230, 165, 15);
    }
    #idPeople{
        width: 240px;
        padding-right: 20px;
        padding-left: 10px; 
    }
    }
 @media screen and (min-device-width: 600px)and (max-device-width: 767px) {
.HeaderSearchInput,.headerIcon,.headerSearchText{
    font-size: 14px;
    margin-left: -10px;
}
.HeaderSearchInput{
    margin-left: -10px;

}
#dates{
    width: 33%;
}
.head1{
    margin-left: -40px;
    margin-right: -40px;
}
.imagebox1{
    display: flex;
    flex-wrap: wrap;
 }
 .imagebox2{
     display: flex;
     flex-wrap: wrap;
  }
  .imgimage3{
     margin-left: -15px;
  }
  .imgbox3{
    margin-left: -15px;
  }
  .headerSearch{
    width: 88%;
}
  #idsearch{
    padding-left: 15px;
    width: 210px;
    margin-right: -20px;
    border-right: 4px solid rgb(230, 165, 15);
    /* padding-right: 10px; */
}
#idDate{
    padding-right: 20px;
    padding-left: 15px;
    border-left: 4px solid rgb(230, 165, 15);
}
#idPeople{
    width: 200px;
    padding-right: 20px;
    padding-left: 15px; 
}
#headbutton1{
    margin-left: -20px;
}

 }
 @media screen and (min-device-width: 480px)and (max-device-width: 599px) {
    .HeaderSearchInput,.headerIcon,.headerSearchText{
        font-size: 11px;
    }
  .headerIcon{
    margin-left: -8px;
  }
    .HeaderSearchInput{
        margin-left: -12px;
    margin-right: -10px;
    padding-right: -15px;
    /* width: 100px; */
    }
    #dates{
        width: 33%;
    }
    .head1{
        margin-left: -40px;
        margin-right: -40px;
    }
    .imagebox1{
        display: flex;
        flex-wrap: wrap;
     }
     .imagebox2{
         display: flex;
         flex-wrap: wrap;
      }
      .imgimage3{
         margin-left: -0px;
      }
      .imgbox3{
        margin-left: -15px;
      }
      .headerSearch{
        width: 85%;
    }
    #hhhh{
        margin-left: 6px;
    }
      #idsearch{
        padding-left: 10px;
        width: 130px;
        margin-right: 10px;
    }
    .headerSearchText{
        margin-left: -10px;
    }
    #idDate{
        width: 170px;
        border-left: 4px solid rgb(230, 165, 15);
    }
    #personp{
        margin-right: 10px;
        margin-left: 20px;
        padding-left: -20px;
    }
    #idPeople{
        width: 110px;
        /* padding-right: 20px; */
        padding-left: 20px;
        border-left: 4px solid rgb(230, 165, 15);
    }
    #headbutton1{
        margin-left: -50px;
    }
    .trendingdest{
        margin-left: -130px;
    }
  .locationData{
    font-size: 12px;
    margin-bottom: 4px;
  }
  .styledest{
    margin-left: -10px;
    margin-right: 30px;
  }
 
 }
 
 @media screen and (min-device-width: 320px)and (max-device-width: 479px) {
    .HeaderSearchInput,.headerIcon,.headerSearchText{
        font-size: 10px;
    }
  .head1{
    margin-bottom: 120px;
  }
  .selectedDate{
    margin-right: 100px;
    margin-top: 10px;
    margin-left: -50px;
   }
  .options{
    margin-right: 70px;
    margin-top: 10px;
  }
  .optionnum{
    font-size: 12px;
  }
    .HeaderSearchInput{
        margin-left: -10px;
    
    }
    .headerSearchText{
        margin-left: -10px;
    }
    /* #dates{
        width: 33%;
    } */
    #hhhh{
        margin-left: 5px;
    }
    .head1{
        margin-left: -40px;
        margin-right: -40px;
    }
    .imagebox1{
        display: flex;
        flex-wrap: wrap;
     }
     .imagebox2{
         display: flex;
         flex-wrap: wrap;
      }
      .imgimage3{
         margin-left: -0px;
      }
      .imgbox3{
        margin-left: -15px;
      }
      .headerSearch{
        width: 80%;
    }
      #idsearch{
        padding-left: 2px;
        width: 145px;
        margin-right: -20px;
        /* border: 4px solid rgb(230, 165, 15); */
        /* padding-right: 10px; */
    }
    #idDate{
        margin-left: -3px;
        padding-right: 20px;
        /* padding-left: 15px; */
        margin-right: -15px;
        border-left: 4px solid rgb(230, 165, 15);
        border-right: 4px solid rgb(230, 165, 15);
    }
    #idPeople{
        width: 140px;
        margin-right: -30px;
        margin-left: -3px;
        padding-right: 20px;
        padding-left: 15px;
        border-left: 4px solid rgb(230, 165, 15);
    }
    .searching{
        border-bottom: 4px solid rgb(230, 165, 15); 

    }

    .trendingdest{
        margin-left: -130px;
    }
    .headerSearch{
        display: block;
    }
    .trendingdest{
        margin-left: -130px;
    }
  .locationData{
    font-size: 12px;
    margin-bottom: 4px;
  }
  .styledest{
    margin-left: -10px;
    margin-right: 30px;
  }
  .image12{
    height: 100px;
    width: 100px;
  }
  .imagebox1{
    margin-left: 50px;
  }
  .image12{
    height: 500px;
    width: 500px;
  }
 }
 
 
 
 