.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    color: #fff;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 22px;
    font-weight: 500;
    /* margin-left: 30px; */
}
.navButton{
    margin-left: 20px;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    color: #003B95;
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 10px;
}
